/*BEGINING OF THE PERSONAL ADJUSTMENT*/
#loading-line{
    width: 0%;
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    height: 7px;
    background: #f4fff8;
    border-radius: 1px;
    overflow: hidden;
    border-bottom: 4px solid #1c1815;
    -moz-transition: width 500ms ease-out,opacity 400ms linear;
    -ms-transition: width 500ms ease-out,opacity 400ms linear;
    -o-transition: width 500ms ease-out,opacity 400ms linear;
    -webkit-transition: width 500ms ease-out,opacity 400ms linear;
    transition: width 500ms ease-out,opacity 400ms linear;
}

.site-wide-notification{
    background: rgba(207, 0, 15, 0.8);
    z-index: 99999;
    width: 100%;
    top: 0;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    position: fixed;
    -moz-transition: all 800ms ease-out;
    -ms-transition: all 800ms ease-out;
    -o-transition: all 800ms ease-out;
    -webkit-transition: all 800ms ease-out;
    transition: all 800ms ease-out;
    display: none;
    margin-bottom: 5px;
}

.my-loading-line{
    -moz-transition: all 800ms ease-out;
    -ms-transition: all 800ms ease-out;
    -o-transition: all 800ms ease-out;
    -webkit-transition: all 800ms ease-out;
    transition: all 800ms ease-out;
}

.site-wide-notification:hover{
    opacity: 0.9 !important;
    cursor: pointer;
}

.site-wide-notification.success {
    background: rgba(15, 114, 91, 0.7);
}

.site-wide-notification .close{
    float: right;
    font-size: 1.5rem;
    line-height: 1;
    color: white;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    -moz-transition: opacity 400ms linear;
    -ms-transition: opacity 400ms linear;
    -o-transition: opacity 400ms linear;
    -webkit-transition: opacity 400ms linear;
    transition: opacity 400ms linear;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 3px;
}

.site-wide-notification .close:hover{
    opacity: 1;
    color: #f7f7f7;
}

.dropdown-menu .divider {
    height: 1px !important;
    margin: 7.5px 0 !important;
    overflow: hidden !important;
    background-color: #eeeeee !important;
}

.form-group select{
    height: 33.2px !important;
    /*padding-left: 0px !important;*/
    /*padding-right: 0px !important;*/
}

.inactive{
    display: none;
}

button{
    -webkit-transition: width 2000ms ease-out;
    transition: width 2000ms ease-out;
}

button i{
    -webkit-transition: all 400ms ease-in;
    transition: all 400ms ease-in;
}

button:disabled
{
    background: black !important;
    color: white;
}

.loading,.loading>td,.loading>th,.nav li.loading.active>a,.pagination li.loading,.pagination>li.active.loading>a,.pager>li.loading>a{
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)) !important;
    background-size: 40px 40px;
    animation: progress-bar-stripes 2s linear 0s normal none infinite;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
}
.btn.btn-default.loading,input[type="text"].loading,select.loading,textarea.loading,.well.loading,.list-group-item.loading,.pagination>li.active.loading>a,.pager>li.loading>a{
    background-image: linear-gradient(45deg, rgba(235, 235, 235, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(235, 235, 235, 0.15) 50%, rgba(235, 235, 235, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)) !important;
}

#my_content{
    min-height: 400px ;
}

.dropdown-item{
    cursor: pointer;
}

.btn-group .divider, .dropdown .divider{
    margin: 0 !important;
}

.fileinput-preview img{

    /*width: 100% !important;*/
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    background-color: #F5F5F5 !important;
}

::-webkit-scrollbar
{
    width: 10px !important;
    display: block !important;
    visibility: visible !important;
    background-color: #F5F5F5 !important;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px !important;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122,153,217)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(28,58,148)));
}

.is-filled .bmd-label-floating{
    color: black !important;;
    opacity: 0.7 !important;;
}

.bmd-form-group .form-control{
    color: brown;
    /*opacity: 0.8;*/
}

.is-focused .bmd-label-floating{
    opacity: 1 !important;
}

[class^='bmd-label'], [class*=' bmd-label']{
    color: black;
    opacity: 0.6 ;;
}

.compulsory-float .bmd-label-floating{
    top: 20px !important;
    opacity: 1 !important;
    font-weight: bold;
}

.bmd-label-just-float{
    top: 20px !important;
}

.compulsory-float input, .compulsory-float textarea{
    background: none;
}

.compulsory-float .form-control{
    background: none;
    border-bottom: 1px solid rgba(239, 231, 231, 0.59) !important
}

.select2-chosen{
    color: #2f0808;
    /*opacity: 0.9;*/
}

.select2-container-multi{
    border: 1px solid #ccc !important;
}

select{
    padding-left: 2px !important;
}



.dashboard:after {
    content: '\A';
    position: absolute;
    /*padding: 15px;*/
    /*width: 100%; height:100%;*/
    top: 0px; left:0px;
    right: 40px;
    bottom: 0px;
    padding-right: 15px;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.dashboard:hover:after {
    opacity: 1;
}



.mz_select_elements{
    background: white;
    width: 100%;
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 9999;
}

.mz_select_elements span{
    height: 30px;
    display:block;
    padding: 5px;
}

.mz_select_elements span:hover{
    background: #5897fb;
    color: white;
    cursor: pointer;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    transition: linear 0.2s;
}

.note-popover.popover.in.note-image-popover.bottom{
    margin-top: -50px !important;
    display: none;
}

.note-popover.popover-content{
    display:none;
}

.note-popover.popover.in.note-link-popover.bottom{
    display: none;
}


.note-toolbar .btn.btn-default,.popover-content .btn.btn-default {
    background: #ddd;
    color: #141010;
    border: none;
}

.popover-content.note-children-container{
    margin-top: -150px;
    z-index: 777;

}

.note-popover.popover.in.note-air-popover.bottom{
    display: none;
}


.checkbox label, .radio label{
    color: rgba(159, 20, 0, 0.64);
}

.checkbox{
    position: relative;
}

.radio{
    position: relative;
}

.switch label{
    cursor: pointer;
}

.question_green{
    display: inline-block;
    padding: 0px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 30px;
}

.q_border{
    border: 2px solid red !important;
}

.q_options{
    width: 10px;
    font-weight: bold;
}

.q_correct_answer{
    background: green;
    color: white !important;
    padding-right: 6px;
}

.q_wrong_answer{
    background: red;
    color: white !important;
    padding-right: 6px;
}





/*TABLE FORMAT*/
table{
    /*width: 100%;*/
    /*border-spacing: 1px;*/
}

table thead th{
    /*border: none !important;*/
    /*font-weight: normal !important;*/
}

.dataTables_wrapper{
    /*overflow: auto !important;*/
    /*width: 100%;*/
}

.dataTables_info{
    /*float: left;*/
}

[data-navbar="secondary"] table thead {
    background-color: #c51162;
    color: white;
}

.datepickerdiv{
    position: absolute;
    z-index: 999999999;
}

label{
    cursor: pointer;
}

.noinput, .noinput input{
    background: none !important;
    cursor: context-menu;
}

.noinput-center-text, .noinput-center-text input{
    background: none !important;
    cursor: context-menu;
    text-align: center;
}

.dt-buttons{
    text-align: right;
}

button.dt-button,
div.dt-button,
a.dt-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.333em;
    padding: 0.2em 0.5em;
    border: 1px solid #999;
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.88em;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin-bottom: 0.3125rem;
    font-size: 0.875rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow, transform;
    color: rgba(0, 0, 0, 0.87);
    background-color: inherit;
    border-color: #ccc;

    /* Fallback */
    background-image: -webkit-linear-gradient(top, white 0%, #e9e9e9 100%);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, white 0%, #e9e9e9 100%);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, white 0%, #e9e9e9 100%);
    /* IE10 */
    background-image: -o-linear-gradient(top, white 0%, #e9e9e9 100%);
    /* Opera 11.10+ */
    background-image: linear-gradient(to bottom, white 0%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#e9e9e9');
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    outline: none;
    background: #46dbff;
    color: #fff;
    border: none;

}

.dataTables_paginate.paging_simple_numbers{
    text-align: right !important;
}

.bmd-form-group .bmd-help {
    padding-top: 4px;
    color: rgba(16, 17, 148, 0.85) !important;
}

.required:after {
    content: "*" !important;
    position: absolute !important;
    right: -10px !important;
    top: 50% !important;
    color: rgba(214, 12, 35, 0.86) !important;
}

.full_modal{
    width: 95% !important;
    max-width: 95% !important;
    height: 95% !important;
    max-height: 95% !important;
}

.lp-table-name{
    font-weight: bold;
}

.sn_comment{
    border-bottom: dotted 1px #9d8585;;
}

.my_comment_comment{
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid white;
    background: #7078eb;
    color: white;
    font-size: 12px;
    padding: 5px;
    border-right: 10px;
    margin-bottom: 20px;
}

.my_comment_comment:hover{
    background: #3e2723;
    transition: all 0.5s ease-out;
}

.my_comment_close{
    font-weight: bold;
    display: none;
    position: absolute;
    right: -5px;
    top: -10px;
    width: 18px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    background: #8e5757;
    color: white;

}

#sn_hover{
    max-width: 150px;
    position: absolute;
    z-index: 99999999;
    background: #7078eb;
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
    display: none;

}

.image-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.image-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.image-modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.image-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.image-close:hover,
.image-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .image-modal-content {
        width: 100%;
    }
}

/*[data-navbar="primary"] .btn {*/
/*background-color: #c51162 !important;*/
/*color: white;*/
/*}*/

[data-navbar="primary"] table thead {
    background-color: #0d47a1;
    color: white;
}

[data-navbar="danger"] table thead {
    background-color: #d32f2f;
    color: white;
}

[data-navbar="warning"] table thead {
    background-color: #ffa000;
    color: white;
}

[data-navbar="secondary"] table thead {
    background-color: #c51162;
    color: white;
}

[data-navbar="success"] table thead {
    background-color: #388e3c;
    color: white;
}

[data-navbar="info"] table thead {
    background-color: #0091ea;
    color: white;
}

#datetimepicker1 .dropdown-menu {
    visibility: visible !important;
    opacity: 1 !important;
    width: auto !important;
    transform: none !important;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    footer{
        position: absolute;
        bottom: 0px;
    }

    table thead td, table thead th{
        color: black;
    }

    button{
        color: black !important;
    }

    a{
        color: black !important;
    }

    .dataTables_wrapper{
        overflow: visible !important;
        width: 100%;
    }

    .table-responsive{
        overflow: visible !important;
    }
}


