#RewriteEngine on
#RewriteCond $1 !^(index\.php|images|stylesheets|scripts|robots\.txt)
#RewriteRule ^(.*)$ /index.php/$1 [L]

#RewriteBase /

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^[^\.]+\.php$ /example.php [L,NC]
#RewriteEngine On
# RewriteBase /myschool  

 # RewriteCond %{REQUEST_FILENAME} !-f
  #RewriteCond %{REQUEST_FILENAME} !-d
  #RewriteCond $1 !^(index\.php|images|robots\.txt|css|docs|js|system)
  #RewriteRule ^(.*)$ ../index.php?api/previous/$1 [L]
